<!DOCTYPE html>
<html lang="en">
 
        <style>
                .button {
                background-color: #EC6A0A;
                height:"30%"; width:"70%";
                border:none;
                font-weight: 100;
                font-size:15px;padding:10px;
                color:#fff;
                }
            
                .border{
                  border-color: #EC6A0A;
                  border-width:1px;
                }
              </style>
            
                 <body>   
                  <table bgcolor="#EC6A0A" width="100%" style="color:white">
                    <tr>
                    <td><h2 align="left">Adminlogin</h2></td>
                    </tr></table>
                <form action ="/adminlogin" method="post" align="center"> <br><br><br>
                
                <table align="center">
                <tr><td><input  type="email" name="email" value="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter User Id';}"></td></tr>
                <tr><td><input type="password" name="psw1" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}"></td></tr>
                <tr><td><input type="submit"  value="Login" class="button"></td></tr>

                </table>
            
                </form>
 
    </body>
    </html>
