<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .button {
    background-color: #EC6A0A;
    height:"30%"; width:"70%";
    border:none;
    font-weight: 100;
    font-size:15px;padding:10px;
    color:#fff;
    }

    .border{
      border-color: #EC6A0A;
      border-width:1px;
    }

    
  </style>
</head>
<body>
    <form action ="/forgotpassword" method="post">
     
      
      <table align="center" border="0">
              <tr><td>  <h2> Enter emailid</h2>  </td></tr>
                
              <tr><td> <input type="text" name="mailto" value="emailid" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter emailid';}"> </td></tr>
              <tr align="center"><td><input type="submit" class="button" value="Submit"> </td></tr> 
      </table>
      <table align="center">
              <%if(text){%>
              <tr><td><p><%=text%></p></td></tr>
              <%}%>
      </table>
      </form>
 </body>  </table> 