<!DOCTYPE html>
<html lang="en">
    <style>
        .button {
        background-color: #EC6A0A;
        height:"30%"; width:"70%";
        border:none;
        font-weight: 100;
        font-size:15px;padding:10px;
        color:#fff;
        }
    
        .border{
          border-color: #EC6A0A;
          border-width:1px;
        }
      </style>
      <body>

        <form action="/resetpassword" method="POST" >
            <table align="center">
                <tr><td align="center"> <h4>Resetting Password</h4></td></tr>          
                <tr><td><input type="email" name="emailid" value="EmailId" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EmailId';}"></td></tr>
                <tr><td><input type="password" name="newpassword" value="Enter New Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter New Password';}"></td></tr>
                <tr><td><input type="password" name="confirmpassword" value="Reenter Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Reenter Password';}"></td></tr>
                <tr><td><input type="hidden" name="uidhidden" id="uidhidden" ></td></tr>                
                <tr><td align="center"><input type="submit"  class="button" value="Reset Password" ></td></tr>
            </table>
          </form>
          <script lang="javascript">
              let params = (new URL(document.location)).searchParams;
              let uid = params.get("uid");
              document.getElementById('uidhidden').value = uid;
          </script>
      </body>